.header {
    background-image: url("../images/queenblue.jpeg");
    background-repeat: repeat repeat;
    background-size: 100px 100px;
}

.left, .right {
    width: 220px;
    height: 220px;
}

.option, .selected {
    width: fit-content;
    padding: 8px;
    display: inline;
}

.option:hover {
    border: 3px groove darkblue;
    border-radius: 10px;
    cursor: pointer;
}

.selected {
    border-radius: 10px;
    background: green;
    color: #fff;
    font-weight: bold;
}

.show {
    display: block;
}
/* ran out of time on the styling */